[2014-09-04 18:47] gmedders opened #25 "Implement Periodic Boundary Conditions"
Functions that image the trimer (used for three-body calculation). Can be adapted for the two-body (dimer) imaging.

https://gist.github.com/gmedders/8f49c19a45097a029ce5

[2014-09-24 19:08] zonca opened #26 "Setup travis for automatic testing at each commit"
Check https://github.com/SimTk/openmm/blob/master/.travis.yml

[2014-10-24 00:07] zonca opened #33 "Update installation instructions when OpenMM binary distribution will include swig headers"
Currently we require that OpenMM has been installed from the source distribution:
https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/INSTALL.md#requirements

This is due to the fact that binary distributions of OpenMM 6.1 do not install `OpenMMSwigHeaders.i`.
Opened an issue on the OpenMM repository: pandegroup/openmm#622

[2014-12-22 18:31] zonca opened #38 "Debugging Electrostatic forces"
Result with no contribution from charge derivatives in the reciprocal space for `water3` test case in a 18 A box:

[code]

[2015-01-06 18:42] zonca commented on #38
What I mentioned before is not true, actually Greg's correction is canceling out and it is zero for all particles.

[2015-01-28 22:13] zonca opened #39 "Refactor OneBody force computation to use only distances"
In the CUDA platform it would be better to push the minimum required parameters to the GPU for computing energy and forces.

The energy computation of OneBodyForce only depends on distances and `costh`, so I would like only to copy those to the GPU memory.

However the forces computation instead looks like it depends on the individual components of the distance vectors (e.g. `ROH1[i]`). See snippe

[2015-01-29 07:39] zonca commented on #39
Actually no need, I discovered the positions are already pushed to the GPU kernels.

[2015-01-29 07:39] #39 closed

[2015-01-29 20:53] zonca opened #40 "Check each component of Electrostatics PME forces against the error"
Run the unit test of 1 water molecule and check each component of the PME forces.

[2015-02-03 17:36] zonca commented on #40
I am testing with just 1 water molecule, the first molecule of the usual `water3` system.

I am testing with polarizability set to 0 and a box size of 18A, atom order is `OHHM`.

**No charge redistribution**

In this case finite differences agree with our estimate of the forces:

[code]

[2015-02-03 17:37] zonca commented on #40
**With charge redistribution**

[code]

Where is this large bias coming from?

1) checking the forces before `OpenMM` redistributes them from `M` site to `OHH`:

[code]

issue is already present

[2015-02-03 17:50] zonca commented on #40
2) Forces after Direct Space computation
[code]

It looks like the error is already present in direct space.

3) Forces after Reciprocal Space Induced
[code]
As expected there is no contribution, we set polarizability to zero.

4) Forces after Reciprocal Space Fixed
[code]

[2015-02-03 18:17] zonca commented on #40
**Investigating direct space interaction**

[code]

[2015-02-03 18:33] zonca commented on #40
Let's focus on the largest of these contributions, `O`-`M`, the first component is the charge derivative with respect to `H1`:

    ftm21 +=  (rr1I_ewald + rr1I_screen - rr1I) * particleI.chargeDerivatives[s][0] * particleJ.charge; // charge - charge

* Force is `26.98 Kcal/mol/A `
* `rr1I_ewald = 8.6`
* `rr1I = 11.67`
* chargeDerivative is `2.3`
* charge of `M` is `-1.1507`

I think at least one

[2015-02-03 19:45] gmedders commented on #40
Thanks for the really detailed analysis. Just a few questions:

  * Can you just confirm the indices for the detailed force decomposition so that I can also explore? Is it i=0, j=3, with s corresponding to the first hydrogen of the molecule (H1, as you said)?
  * Could you also add rr1I_screen to the list of forces? And are all the forces from the previous comment on this issue in kcal/mol/A?

Tha

[2015-02-03 20:10] zonca commented on #40
* yes, indices are right
* `rr1I_screen` is `0` for same molecule, every force in this thread is `kcal/mol/A`, just be careful of the other printouts in https://github.com/paesanilab/mbpol_openmm_plugin/issues/40#issuecomment-72706994, those are in native OpenMM units.

[2015-02-03 20:13] gmedders commented on #40
great, thanks

[2015-02-26 19:41] zonca opened #42 "Better variable names for two body interactions"
I am rewriting the two body interaction for CUDA, it would be useful to have better variable names, and possibly some comments on the different steps of the procedure, this would make the implementation clearer.

@gmedders would you like to take care of that?

Basically all the code from:

https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/platforms/reference/src/MBPolReferenceTwoBodyFo

[2015-03-03 19:56] zonca opened #43 "CUDA twobody force rounding errors in single precision"
I have implemented TwoBodyForce in CUDA, just PBC is missing.

However I noticed that running in single precision causes some errors, up to 2% when force is pretty low. Tried to run in double precision but compilation fails on my machine.
I'll investigate more, below the test results for a single interaction between 2 water molecules.

[code]

[2015-03-06 16:33] zonca opened #44 "Computation of electrostatic potential with no polarizability"
In this issue we will be tracking progress on the computation of electrostatic potential in the PME version of the electrostatics MBPOL forces.

All tests are performed on 1 single water molecule (the first on water3)

[2015-03-06 16:36] zonca commented on #44
First we compare the energy computed from the potential to the energy computed directly for each component, they agree:

[code]

[2015-03-06 16:40] zonca commented on #44
We compare total energy:
[code]

[2015-03-06 16:42] zonca commented on #44
Now we disable the computation of the force components from charge redistribution and we compute them using the potential:

[code]

Results are pretty close ( @gmedders yesterday the potential from self energy was commented out by mistake!)

[2015-03-12 18:13] zonca commented on #44
Here is the complete output for 1 water molecule, split by atom and by component:

[code]

[2015-03-12 18:22] vbabin commented on #44
it may be more convenient to use 2-3 water molecules in a small box (~16A)
for this kind of development -- otherwise the forces are expected to be
small

On Thu, Mar 12, 2015 at 11:13 AM, Andrea Zonca <notifications@github.com>
wrote:

[2015-03-12 18:31] zonca commented on #44
yes, we are testing both 1 and 3 water molecules, here is 3 water molecules:

[code]

[2015-03-12 20:49] zonca commented on #44
good news! we fixed the issue with the definition of the potential. now the test case with no polarizability passes.
Now we are working on the implementation of the induced components.

[code]

[2015-03-12 20:49] #44 closed

[2015-03-17 18:13] zonca opened #46 "Run constant energy simulation on electrostatics PME - no polarizability"
Run water3 constant energy simulation PME, 18A box:
* step 0.05 fs
* 50k steps

[2015-03-31 21:34] zonca commented on #43
New version of twobody force runs also in double precision, see #47

[2015-03-31 21:34] #43 closed

[2015-03-31 21:35] #38 closed

[2015-03-31 21:36] #25 closed

[2015-04-01 21:12] zonca commented on #46
Simulation results:

[code]

[2015-04-02 01:49] fpaesani commented on #46
looks great!

[2015-04-02 18:34] zonca commented on #46
[] Run this simulation with one of the 256 molecules test set.

[2015-04-02 20:50] #42 closed

[2015-04-02 21:46] zonca opened #48 "Refactor PME electrostatics using vector operations"
The code for cluster electrostatics imported by AMOEBA uses vector classes like `RealVec` to compute x,y,z components simultaneously.

The PME version, instead, does not use this system, this makes the code harder to read. Better to refactor the PME version.

[2015-04-02 21:47] #46 closed

[2015-04-02 21:53] zonca opened #49 "Run constant energy simulations on box of liquid water"
After we completed debugging of the Electrostatics PME forces with polarizability,
run a constant energy simulation with one of the 256 molecules test set.

[2015-04-02 21:53] #40 closed

[2015-04-07 22:57] zonca commented on #48
@gmedders I've refactored the PME section using `RealVec`, see:

https://github.com/zonca/mbpol_openmm_plugin/commit/4b8104650b04a265889cc60f132d0b1ba6825ca4

you can get the changes pulling from the `zonca/gmedders_all_pbc_pme_force` branch.

I also setup the testing in `platforms/reference/tests/TestReferenceMBPolElectrostaticsForce` so that it compares the output to pre-computed and hardcoded f

[2015-04-07 22:58] zonca commented on #48
This is the current status in the 50A box with polarizability:

[code]

[2015-04-07 22:58] #48 closed

[2015-04-27 17:49] zonca opened #50 "Implementation of Chloride + Water Electrostatics in Reference platform"
@pushpbajaj I prepared the software to support ions, here the parameters I need:

* mass
* charge
* thole parameters (for water I have charge-charge, charge-dipole and 3 types of dipole-dipole)
* polarizability
* damping factor
* any exclusions? does the ion interact with the virtual site of water molecules?

[2015-04-27 17:55] zonca commented on #50
For the test case, the best would be to have 3 water molecules and 1 ion.

@pushpbajaj , could you please run a simulation with only electrostatics activated, using 3 water molecules in these positions (any position is fine for the ion):

https://github.com/paesanilab/mb-pol/blob/master/orig_mbpol_cpp/trimer.xyz

And paste the output energy and forces here?

[2015-04-27 20:49] pushpbajaj commented on #50
Following are the parameters for chloride:

Mass = 35.5 g/mol
Charge = -1 (Please check what units are expected by the electrostatics code, you might have to multiply this with a conversion factor)
The C-C, C-D and D-D parameters (I believe the smearing parameters) should remain the same as in water.
Polarizability = 5.3602 Angstrom^3
Damping factor = 5.3602 (Same as the polarizability)
The exclud

[2015-04-27 21:10] pushpbajaj commented on #50
So, using this configuration:

10
x
O      -1.516074336e+00  -2.023167650e-01   1.454672917e+00
H      -6.218989773e-01  -6.009430735e-01   1.572437625e+00
H      -2.017613812e+00  -4.190350349e-01   2.239642849e+00
O      -1.763651687e+00  -3.816594649e-01  -1.300353949e+00
H      -1.903851736e+00  -4.935677617e-01  -3.457810126e-01
H      -2.527904158e+00  -7.613550077e-01  -1.733803676e+00
O

[2015-04-27 21:28] zonca commented on #50
@pushpbajaj thanks, here your forces reformatted:

[code]

[2015-04-27 22:38] zonca opened #51 "simplify tang_toennies"
implement the `tang_toennies` function in python, test it, compare the difference between the standard implementation and the low-damping implementation.
If simplified, this would allow to use one of the OpenMM standard force fields.

https://github.com/paesanilab/mbpol_openmm_plugin/blob/0e984bcbaee4fcb8435821b0c1d3791e2732873e/platforms/reference/src/MBPolReferenceDispersionForce.cpp#L84

[2015-04-27 22:55] zonca commented on #49
better to run on `empedocles`

[2015-04-27 22:58] zonca opened #52 "code cleanup in MBPolReferenceElectrostatics"
before packaging a release better cleanup all references to quadrupoles to simplify a bit the code.

[2015-04-27 23:03] zonca opened #53 "Fixed forces in the PME Electrostatic force in the Reference platform"
Good news, @gmedders fixed the last bug in the Reference platform ( 0481ad545ee07ee46002b181dd4a40287f260703 ).
Now the most difficult test of Electrostatics passes, i.e.

* 3 water molecules
* PME
* 18A box
* polarizability
* charge redistribution

See result below.

Last test will be a long constant energy simulation with 256 molecules, see #49 , then we can release a final version of the C++ pl

[2015-04-27 23:42] fpaesani commented on #53
This is great!

In this regard, Marivi, who is here at the DOE meeting, told me that she found difficult to run OpenMM because of the python interface. Is really that complicated? I am wondering if we should make a few examples for both clusters and PBC calculations. What do you think?

[2015-04-28 08:12] gmedders commented on #53
It has been a while since I took a look at the python interface, but it seemed straightforward to me at the time. That said, this probably indicates that we should spend some time making the process a little more comfortable for the user. Let's keep this in mind when we start to package the release -- maybe Shelby and Marc can be guinea pigs to make sure the distribution is easily understandable.

[2015-04-28 15:40] zonca commented on #53
here is an example of using the Python interface:

http://nbviewer.ipython.org/gist/zonca/54c7040c1cf3f583930f

@fpaesani it would be better to ask them exactly what they found complicated.
@gmedders, good idea to have Marc and Shelby test it.

[2015-04-28 15:40] #53 closed

[2015-04-28 15:48] fpaesani commented on #53
i think that the "barrier" is in using python...

[2015-04-28 15:52] zonca commented on #53
ok,
so, before release I'll prepare some more examples and ask for your feedback and other ideas.

[2015-04-28 15:54] zonca opened #54 "Prepare more Python examples"
People not familiar with Python find it difficult to use the APIs.

Better create many different short examples to cover most usage scenarios.

@zonca to prepare a first round of examples, then ask for feedback and other suggestions. See #53

[2015-05-04 17:45] #33 closed

[2015-05-04 17:55] #52 closed

[2015-05-04 21:41] zonca commented on #54
I updated the Python example with PME, see http://nbviewer.ipython.org/gist/zonca/ac05cd848a96b4a63b0e

so currently it covers:

* load positions from pdb
* create MBPol force field
* setup either PME or Cutoff non periodic
* set position and update the positions of virtual sites
* compute energy and forces of the initial configuration
* do unit conversions
* do a local energy minimization
* set r

[2015-05-04 21:49] zonca commented on #54
@pushpbajaj @gmedders would you have any idea of additional functionality it would be useful to cover? or clarifications on the Python example?

[2015-05-14 18:21] zonca opened #57 "Standard format for saving velocities to file"
I have mostly completed a script, called `run_mbpol`, that can run standard simulations from a configuration file, see #56

Currently I save:

* a file with trajectory of all particles in `.pdb` format
* a file with global properties of the system, e.g. energy, volume, density and so on

@fpaesani was interested also in saving velocities.
I asked on the [OpenMM forum](https://simtk.org/forums/view

[2015-05-14 18:49] zonca commented on #49
Simulation parameters:

* `H2O_1.pdb` 512 water molecules
* PME boxsize `24.83 A`
* Verlet integrator timestep `0.02 fs`
* velocities set randomly based on `300 K` temperature

simulation is half way through, wanted @gmedders and @fpaesani to check if results make sense.

![energy](https://cloud.githubusercontent.com/assets/383090/7639141/bd72ac28-fa2e-11e4-994c-f4c805b85197.png)
![temperature](ht

[2015-05-14 21:45] agoetz commented on #57
@zonca I am not aware of a common standard, many codes use their own formats.

[2015-05-15 02:50] gmedders commented on #49
The energies don't look entirely unreasonable considering the simulation starts with a random distribution of velocities and is quite short (100fs), but the temperature is quite off. Should be around 300K but is around 650K. Do you know what is going on?

You can also use a larger timestep (I probably told you the wrong one, or we miscommunicated a factor of 10). I would change to 0.2 fs. Ideally

[2015-05-15 02:50] fpaesani commented on #49
hmmm... there is something wrong with the temperature...

[2015-05-15 04:06] zonca commented on #49
ok, I'll do a test with a standard OpenMM force field to check the OpenMM configuration is correct.

[2015-05-15 04:55] #49 closed

[2015-05-19 17:30] zonca opened #58 "Results of TIP5P NVT+NVE simulations in OpenMM"
In order to better understand how OpenMM works with constant energy simulations, we ran a TIP5P water model for 256 molecules, timestep of 2 fs, for 50K steps NVT and then NVE.
First version of this simulation had a `ewaldErrorTolerance` of 5e-4, the default on builder.openmm.org, that was not sufficient and was causing energy drift and spikes.
See the code: https://gist.github.com/zonca/3d5481787

[2015-05-19 17:31] #58 closed

[2015-05-19 17:33] zonca commented on #57
thanks, I decided to use `HDF5Reporter` already implemented in the `mdtraj` Python package:

https://github.com/mdtraj/mdtraj/blob/master/mdtraj/reporters/hdf5reporter.py

I think this is what is more closely a "standard" in OpenMM

[2015-05-19 17:35] #57 closed

[2015-05-19 17:36] zonca commented on #54
the `run_mbpol` script now covers all simple cases.

plan on preparing 2 more python examples:

1) NVT+NVE simulation
2) simulation with checkpointing

[2015-05-28 16:28] zonca commented on #26
implemented in #59

[2015-05-28 16:28] #26 closed

[2015-06-10 05:34] zonca commented on #54
see also `mbpol_builder` #60

[2015-06-10 05:34] #54 closed

[2015-06-30 00:46] zonca opened #64 "Support ions in MBPol Dispersion force, Reference platform"
@pushpbajaj can you please post here the parameters for Cl-?

[2015-06-30 20:44] pushpbajaj commented on #64
Dispersion parameters for H2O-Cl-

C6_ClH =  2.054967304401717e+02  kcal/mol * A^6
C6_ClO =  1.090054616587679e+03  kcal/mol * A^6
d6_ClH =  5.778854012725382e+00  A^(-1)   //2B fit cut off 3.5-5.5A latest training set.
d6_ClO =  1.638868407461115e+01  A^(-1)

[2015-06-30 22:01] pushpbajaj commented on #64
Test case:

Dimer:
[code]

Dispersion energy = -1.306409202e+00 kcal/mol
[code]

[2015-06-30 23:25] zonca opened #65 "Test water3 Electrostatics only"
Compare OpenMM-MBPol and `dlpoly`

[2015-06-30 23:26] zonca commented on #65
@pushpbajaj see output from OpenMM-MBPol:

[code]

[2015-06-30 23:26] pushpbajaj commented on #65
water trimer :

[code]

electrostatics energy =  -15.8188491183429

[code]

[2015-07-01 01:22] zonca commented on #51
see http://nbviewer.ipython.org/gist/zonca/041f8acd89353355003d

If I remove this section of the code, I can implement dispersionforce as a CustomNonbondedForce, so get for free all platforms:

[code]

for O-O this correction is valid only below 0.03A, so it should be quite safe.
If we find this becomes important in the future, we can tabulate it and add it to the plugin.

[2015-07-01 01:22] #51 closed

[2015-07-07 19:06] zonca commented on #65
discrepancy was due to a bug in the `mbpol` implementation in `dlpoly`, fixed.

[2015-07-07 19:06] #65 closed

[2015-07-21 18:37] zonca commented on #64
@sqamara once you are done with the same-water exclusions can you also:

* add `Cl` parameters to the xml definition (need to convert units)
* run the example of 1 water molecule plus an ion and check that it works
* create a test case based on `OpenMM` Python unit tests in  `openmm/wrappers/python/tests`

[2015-07-21 18:50] zonca commented on #50
Implemented in #55

[2015-07-21 18:50] #50 closed

[2015-07-23 17:03] sqamara commented on #64
Good morning Andrea,

I am working on writing the integration testers for mbpol.xml and I am
getting an error when I set the nonbondedMethod = app.CutoffPeriodic.
This is illegal for the electrostatics force.  The cpp code manual sets
the nonbondedMethod to PME.  How would I emulate this in the python code?

Sebastian

[2015-07-23 17:26] zonca commented on #64
When you detect PME, you can replace it with CutoffPeriodic.

On Thu, Jul 23, 2015, 10:03 AM Sebastian Amara <notifications@github.com>
wrote:

[2015-07-23 19:12] zonca opened #68 "Support ions in MBPol TwoBody force, Reference platform"
@pushpbajaj can you provide the polynomials for the 2 body force?

see this code for water:
https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/platforms/reference/src/MBPolReferenceTwoBodyForce.cpp#L150

in particular line 210 with the polynomial (from external file), down to 292.

Can you please paste on <http://gist.github.com> the equivalent for Chloride?

can you also specify what p

[2015-07-23 20:13] pushpbajaj commented on #68
@zonca

https://gist.github.com/pushpbajaj/c55501bf5be340d98b1b

This contains the polynomials and also the polynomial evaluation code.
The number of monomials, the number of non-linear parameters and the number of polynomials, the number of linear parameters is different for water-chloride than water.

For the different monovalent ions (like sodium, potassium, chloride, iodide etc) the form of th

[2015-07-23 21:00] zonca commented on #68
thanks @pushpbajaj , can you also provide a test case?
the best would be 1 water molecule (the first of water3) and then 1 Chloride, any position is fine.

[2015-07-23 21:02] zonca commented on #68
@pushpbajaj  can you specify that are the variable names in the code for linear and nonlinear parameters?

[2015-07-23 21:57] pushpbajaj commented on #68
@zonca I updated the gist page with the latest fits and also added `x2b-h2o-cl-dispersion.cpp` which contains the two non-linear parameters used in dispersion.

The non-linear parameters are:

[code]

And two more used in dispersion:
[code]

The linear parameters (coefficients for the polynomials) are in `x2b-h2o-cl-fit-params.h`.

[2015-07-24 01:41] pushpbajaj commented on #68
@zonca Here is a test case for the 2B polynomial part

I'm using the same dimer as I used for the dispersion test case, let me know if you need another configuration.

H2O-Cl-
[code]

2B polynomial energy = 2.027705104e+00 kcal/mol

2B polynomial gradients:
[code]

[2015-07-24 01:49] pushpbajaj opened #69 "H2O-Cl- Dispersion: change of damping parameters (new fit)"
@zonca

Please update the d6 parameters for water-chloride to these:

[code]

Please also mention in the code as a comment that these correspond to this fit:

`vqz-f12-CP-fit-3.5-5.5-new-polar-5th-iteration+scans`

Now, with these parameters, for this configuration:
[code]

The dispersion energy is -1.306598 kcal/mol

[2015-07-28 21:10] zonca commented on #69
@sqamara, can you update this in the code? please add "close issue #69" to the commit message so we have a reference to this.

[2015-07-28 21:12] zonca commented on #64
implementation almost completed in #67 , all the parameters are already in the XML

[2015-07-28 21:12] #64 closed

[2015-07-28 22:36] zonca commented on #68
thanks @pushpbajaj , can you also prepare a test case of 2 water molecules + Cl? so we can test water-water and water-ion in the same test case.

[2015-08-06 18:08] JNapoli opened #71 "Segmentation fault"
Hi @zonca,

I'd like to run mbpol in OpenMM, but the provided water14.py example segfaults when I try running it. I have installed both OpenMM and the mbpol plugin with conda; I have confirmed that the segfault occurs for mbpol but not for tip4pfb; I have also confirmed that it occurs at the simulation creation step. Can you reproduce this error or know of a fix to the script that I am overlooking

[2015-08-06 18:26] zonca commented on #71
@JNapoli thanks for reporting this! I just noticed OpenMM updated the conda package to 6.3.0, haven't had time yet to rebuild mbpol.

In the meantime, can you try install OpenMM 6.2 with:

    conda install -c https://conda.binstar.org/omnia openmm=6.2.0

[2015-08-06 18:40] JNapoli commented on #71
I get an exception after installing v6.2.0:

"""
Exception: Specified a Platform for a Context which does not support all required kernels
"""

This also happens for mbpol and not for tip4pfb.

[2015-08-06 19:09] zonca commented on #71
I tested right now on a machine here and it works.
can you try removing mbpol and installing it again?

[2015-08-06 21:37] JNapoli commented on #71
I get the same exception:

[code]

[2015-08-07 00:28] zonca opened #72 "Build conda package for OpenMM 6.3"
Need to update the coda package on https://conda.binstar.org/paesanilab from building against 6.2 to build against 6.3.

[2015-08-07 00:30] zonca commented on #71
Unfortunately I cannot reproduce this issue in any of my systems.

I recommend you try to build the plugin from source, using 1.0.1: https://github.com/paesanilab/mbpol_openmm_plugin/releases/tag/v1.0.1, make sure you use OpenMM 6.2

[2015-08-07 19:24] zonca commented on #72
@sqamara, I fixed the plugin for OpenMM 6.3, so now `master` runs Travis tests with OpenMM 6.3.
Just FYI, in your branch you can still test with 6.2, we'll fix it when we merge branches.

[2015-08-07 20:41] JNapoli commented on #71
Thanks for your help. I have it working with OpenMM v6.2 and mbpol compiled from source.

[2015-08-07 20:48] zonca commented on #71
ok, that is good news, I'll ping you when I get the conda package working
with 6.3 so you can give that a try.

On Fri, Aug 7, 2015 at 1:41 PM Joe Napoli <notifications@github.com> wrote:

[2015-08-11 21:06] sqamara commented on #68
@pushpbajaj , I've implemented one water and one Cl, and the test is passing.  Could I have the test case for 2 waters and one Cl?

[2015-08-11 22:51] #71 closed

[2015-08-11 22:55] zonca opened #74 "Support ions in MBPol Three Body Force, reference platform"
@pushpbajaj , @sqamara is ready to start on the ThreeBody Force,

can you please post on a gist:

* computation of the force
* polynomial

and here as a comment on the thread:

* energy and forces for a 2 waters 1 Cl system (possibly get the first 2 water molecules of the usual water3 system.

Thanks

TODO:

- [ ] implement unit test with 3 waters and 1 Cl

[2015-08-12 00:29] zonca commented on #72
@jnapoli I just built new conda packages for MBPol with support for OpenMM 6.3, would you mind testing those on your machine? I am not positive they'll work, as I didn't understand your previous problem, but it would be useful to test.

See new install instructions:
https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/INSTALL.md

[2015-08-12 19:32] pushpbajaj commented on #68
@sqamara @zonca Here is a test case with 2 waters and 1 Cl

For this configuration:
[code]

Total 2B polynomial energy = 19.6295 kcal/mol
The individual contributions are:
water1-cl 2B polynomial energy = 10.8732
water2-cl                                     = 6.07145
water1-water2                             = 2.68486

[2015-08-13 04:52] zonca commented on #68
Great, thanks, @sqamara can you add this to the unit tests?

On Wed, Aug 12, 2015, 12:33 pushpbajaj <notifications@github.com> wrote:

[2015-08-13 05:50] pushpbajaj commented on #74
@zonca @sqamara Here's a gist with h2o-cl 3B polynomials and the code which computes the 3B polynomials and the forces

https://gist.github.com/pushpbajaj/2b9fce0b6bdee21c76a1

I will upload a test case with the 3B forces

[2015-08-13 21:03] JNapoli commented on #72
@zonca, it works for me with OpenMM v6.3 now, but only after building mbpol from source. Installing via conda did not work for me, though I may have made an error.

[2015-08-13 21:05] zonca commented on #72
ok, thanks for testing

On Thu, Aug 13, 2015 at 2:04 PM Joe Napoli <notifications@github.com> wrote:

[2015-08-14 00:05] pushpbajaj commented on #74
@zonca  @sqamara Here's a test for the 3B polynomial part

For this configuration:
[code]
which is the same as the other 2water-cl configuration I used for the "total 2B energy" test.

the 3B polynomial energy =  1.912840868e-01 kcal/mol

3B polynomial gradients
[code]

[2015-08-18 22:15] sqamara commented on #74
@zonca I've integrated the h2o-cl code into the MBPolReferenceThreeBodyForce and it passes the test. here is the pull request https://github.com/paesanilab/mbpol_openmm_plugin/pull/75

[2015-08-20 01:31] zonca commented on #72
`conda` package built and updated install instructions. if we get more reports of issue we might need to dig deeper and try to understand what is going on, but for now I am closing

[2015-08-20 01:31] #72 closed

[2015-08-20 01:47] zonca commented on #74
good job @sqamara ,

@pushpbajaj I think it is time to prepare a more difficult test to pass.
It would be great if you can create a test with 3 water molecules (from the usual water3 system) and 1 Chloride. So we can check if @sqamara 's implementation is correctly identifying water-water-water and water-water-ion triplets.

[2015-08-24 21:58] pushpbajaj commented on #74
@sqamara @zonca

here is a test case with three water molecules and one chloride.

For this configuration:
[code]

The total 3B wat-wat-cl polynomial energy is 0.6087545 kcal/mol
The wat-wat-wat 3B polynomial energy is -0.0991616 kcal/mol

total gradients only from 3B wat-wat-cl polynomials:
[code]

[2015-08-25 00:18] zonca commented on #74
great, thanks @pushpbajaj

[2015-09-01 00:45] zonca commented on #69
completed, need only to merge the pull request

[2015-09-01 00:45] #69 closed

[2015-09-01 00:47] zonca commented on #68
@sqamara added checklist to track completion of this

[2015-09-01 00:52] zonca opened #79 "Integration test for Chloride"
good job @sqamara, you are pretty close to complete the implementation of MBPol for Chloride.

it is useful to have a final integration test that can test all force components together, I think we can just implement it in Python.

@pushpbajaj can you please provide the energy and forces for this configuration (3 water + Cl):

https://github.com/paesanilab/mbpol_openmm_plugin/issues/74#issuecomment

[2015-09-01 17:07] sqamara commented on #68
@zonca  implementing test with 2 waters and 1 was completed and merged here Clhttps://github.com/paesanilab/mbpol_openmm_plugin/pull/76

[2015-09-04 21:25] pushpbajaj commented on #79
@zonca @sqamara

For this configuration:
[code]
same as the one used here:
https://github.com/paesanilab/mbpol_openmm_plugin/issues/74#issuecomment-134392448

Einteraction = -47.3516

 E1tot = 1.81488
gradients:
[code]

 Eelec = -63.938127
gradients:
[code]

 Edisp_water_ion_tot = -8.306403
gradients
[code]

 Edisp_water_water_tot = -5.823302
gradients
[code]

 E2poly_water_ion_tot = 20.219492
gra

[2015-09-05 18:12] zonca commented on #79
Thanks! Is Einteraction the grand total?
Is E1 the monomer energy of water?

On Fri, Sep 4, 2015, 14:25 pushpbajaj <notifications@github.com> wrote:

[2015-09-05 18:50] pushpbajaj commented on #79
Yes, E1 is the monomer energy of water.

Einteraction is the grand total minus E1.

[2015-09-08 17:12] zonca commented on #68
ok, good, so I am closing this.

[2015-09-08 17:12] #68 closed

[2015-09-08 17:15] zonca commented on #74
last test implemented in b6e9769.

Implementation completed, @zonca to review #77 and merge.

[2015-09-08 17:15] #74 closed

[2015-10-05 18:13] pushpbajaj opened #84 "MBpol polynomial timings"
This is to test the performance of direct polynomial evaluation with respect to maple generated code.

Starting with the 2B polynomials..
@zonca for this water dimer configuration:
[code]

The v[31] variables for the 2B polynomials are:
[code]

The 2B polynomial energy for this configuration is  6.264800

[2015-10-13 21:15] zonca commented on #84
@pushpbajaj can you please do the same for 3 body? thanks!

[2015-10-13 23:29] pushpbajaj commented on #84
@zonca for this water trimer configuration:

[code]

The v[36] variables for the 3B polynomials are:
[code]

The 3B polynomials energy for this configuration is 0.095115

[2015-10-14 20:19] pushpbajaj opened #85 "Update H2O-Cl 2B and 3B parameters"
@zonca @sqamara Please update the following 2B and 3B H2O-Cl parameters:

https://gist.github.com/pushpbajaj/f19e68b6bdd72e596a6a

[2015-10-20 22:02] sqamara commented on #85
Addressing in pull request https://github.com/paesanilab/mbpol_openmm_plugin/pull/86

[2015-10-21 19:15] pushpbajaj commented on #79
Just to double check the tests and make sure that updating the H2O-Cl 2B and 3B parameters does not affect the tests. I have commented here the energy and gradients for the different components for the same configuration used above and here https://github.com/paesanilab/mbpol_openmm_plugin/issues/74#issuecomment-134392448 using the updated 2B and 3B parameters as given here: https://github.com/pae

[2015-11-02 22:12] sqamara commented on #85
@pushpbajaj could it looks like the parameter updates are causing the test to slightly fail, could please run a simulation with just the two body force with the configurations:
`
	positions[Oa] = Vec3(6.028800000e+00, -4.021520000e+00, 1.384500000e+00);
	positions[Ha1] = Vec3(5.895700000e+00, -3.282780000e+00, 7.820000000e-01);
	positions[Ha2] = Vec3(6.859700000e+00, -4.452620000e+00, 1.204600000e

[2015-11-02 22:57] pushpbajaj commented on #85
@sqamara with the updated parameters there will be some differences in the energy and gradients compared to that with the old parameters. Let me know if you want me to run the integration test with the new parameters.

Energy and gradients from the different components,
For this configuration:
[code]

E = 5.369381
Einteraction = 4.81641

 E1tot = 0.552976
[code]

 Eelec = 4.232193
[code]

 Edisp_w

[2015-11-02 23:16] sqamara commented on #85
Tests are now updated and pass

[2015-12-09 20:20] zonca opened #89 "Optimize gamma function computation for CUDA"
Partial gamma function computation for MBPol electrostatics has lots of branching, probably inefficient in CUDA.

It would be useful to benchmark and check if this is a significant performance bottleneck or not.

See standalone executable here:

https://gist.github.com/sqamara/ca5a5af7e6da992e7e94

[2016-01-27 03:48] agoetz opened #90 "compilation errors"
@zonca I fail to install the mbpol_openmm_plugin on my macbook, following the instructions in INSTALL.md

To configure I first had to edit CMakeCache.txt and set MBPOL_BUILD_OPENCL_LIB:BOOL=OFF

I also could not find OPENMM_MAJOR_VERSION and OPENMM_MINOR_VERSION in the ccmake menu, I am not sure if this matters.

After configuration, the compilation fails

[ 40%] Building CXX object platforms/refe

[2016-01-27 04:49] zonca commented on #90
I think you tried to install 1.0.0 but that does not support open mm 6.3
You should try with 1.0.2,
For some reason it was hidden before now I made it more prominent, my bad.

On Tue, Jan 26, 2016, 19:48 Andreas Goetz <notifications@github.com> wrote:

[2016-01-27 04:52] agoetz commented on #90
Yes, version 1.0.0. That was the only one I saw so did not mention the version numbers. I will try again with 1.0.2. Thanks.

Sent from my iPhone

[2016-01-27 05:58] agoetz commented on #90
Version 1.0.2 works.

You should disable OPENCL. I switched it off manually during the cmake configuration. But initially it comes up with an error

 CMake Error at CMakeLists.txt:97 (ADD_SUBDIRECTORY):
   add_subdirectory given source "platforms/opencl" which is not an existing
   directory.

[2016-03-15 23:55] zonca opened #93 "have CUDA automated tests run also in single and mixed precision"
CUDA development was done all in double precision, make sure the code runs in single and mixed precision, increase the tolerance for the tests to pass.

[2016-03-17 00:05] zonca opened #94 "Pass thole parameters for Electrostatics in the XML"
Currently the C++ interface has support for changing the thole parameters with the `setTholeParameters` method, we should modify the Python parses so that Tholes are defined in the XML and set inside `mbpol.py`.

[2016-03-28 20:33] zonca commented on #94
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;GCgrpl6Z&#x2F;21-cuda-electrostatics"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> CUDA electrostatics</a>

[2016-03-28 20:33] zonca commented on #93
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;GCgrpl6Z&#x2F;21-cuda-electrostatics"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> CUDA electrostatics</a>

[2016-03-28 22:27] sqamara commented on #94
It looks like they are already introduced in the xml with the residue of the electrostatics
`<Residue name="HOH" class1="O" class2="H" class3="H" thole-charge-charge="0.4" thole-charg    e-dipole="0.4" thole-dipole-dipole-intermolecules="0.055" thole-dipole-dipole-OH="0.626" thole-dip    ole-dipole-HH="0.055"/>`

[2016-03-29 03:20] zonca commented on #94
@sqamara they are not actually water-specific, so better move them to the global parameters, about the names, I would use:

* thole-charge-charge
* thole-charge-dipole
* thole-dipole-dipole
* thole-dipole-dipole-singlebond

Let's ask what is the best naming scheme at the lab on Wednesday

[2016-03-30 22:20] sqamara commented on #94
addressed in https://github.com/paesanilab/mbpol_openmm_plugin/commit/341216ab4751667c0c51deba07bde6547099f332

[2016-03-30 23:25] zonca commented on #94
@sqamara in the C++ we use 5 thole parameters,
so we should repeat the `thole-dipole-dipole` also as the last element

[2016-04-04 21:20] sqamara commented on #93
with the precision changed to single or mixed the result is nan.

[2016-04-04 23:29] sqamara opened #100 "Error in cuda 3 body computation"
[code]

[2016-04-06 21:08] sqamara commented on #100
[code]

[2016-04-13 20:04] #100 closed

[2016-04-13 20:40] zonca opened #101 "Check the plugin works with OpenMM 7.0"
OpenMM is about to release 7.0, we need to make sure the plugin still works.

If the 7.0 version is not yet in the main repo, it can be installed using:

    conda install -c omnia/label/pre openmm

If there is any build issue, open another ticket and then reference here, or create a pull request to fix it.

We can use the `OPENMM_MAJOR_VERSION` and `OPENMM_MINOR_VERSION` precompiler variables to

[2016-04-13 21:24] #94 closed

[2016-04-20 22:51] zonca opened #102 "Cleanup mixed tabs-spaces in CUDA plugin"
Before finalizing, cleanup all the source files.

[2016-05-09 21:12] sqamara commented on #101
addressing here https://trello.com/c/cO40ada1/36-working-with-openmm-7-0

[2016-05-11 21:19] zonca opened #103 "Create mbpol conda package for Python 3.5"
Have only 3.4 and 2.7 now

[2016-05-11 21:46] zonca opened #104 "Create recipe for conda-forge"
Now conda-forge allows community users to create a recipe for conda and then have it automatically build packages for all platforms and python versions!

This would make it a lot simpler to maintain the conda package, it would also fix #103

Forked the template here: https://github.com/paesanilab/mbpol_openmm_plugin_conda_recipe

[2016-05-18 20:52] #85 closed

[2016-05-18 20:54] sqamara commented on #101
https://github.com/paesanilab/mbpol_openmm_plugin/pull/106

[2016-05-18 22:55] #101 closed

[2016-06-10 00:10] #84 closed

[2017-05-23 20:07] nmardirossian opened #108 "compilation error"
Hi,

I am trying to compile MB-pol 1.0.2 and I get the following error:

[error.txt](https://github.com/paesanilab/mbpol_openmm_plugin/files/1023602/error.txt)

I have OpenMM 6.2, and I'm running on Ubuntu 16.04.2 (gcc 5.4.0)

I would appreciate any help to get this resolved!

Thank you.

[2017-05-23 21:31] zonca commented on #108
Is there any reason​ you are not using conda?

That is the easiest way to get started.

https://anaconda.org/paesanilab/mbpol

From the error it looks it cannot find the openmm shared libraries, can you
check they are in the path?

On Tue, May 23, 2017, 13:07 nmardirossian <notifications@github.com> wrote:

[2017-05-23 22:07] nmardirossian commented on #108
OK thank you for the suggestion. I installed it through conda and it's working.

Thank you!

[2017-05-23 22:07] #108 closed

[2017-06-19 18:26] johnsalmon opened #109 "discontinuity at O-O distance of 2 Angstroms?"
I've been doing "scans" of the mbpol-computed dimer energy and was surprised to see a large discontinuity in the computed energy at an O-O distance of 2A.  Is the mbpol plugin meant to be smooth and reliable when the O-O distance is less than 2A?  Are there other discontinuities and or limits-of-reliability that one should be aware of?

Here is a python script that illustrates the discontinuity.

[2017-06-19 23:50] fpaesani commented on #109
Hi John,

Thank you for letting us know. We are looking into this because it is not the correct MB-pol behavior. Our own code provides positive numbers in both cases. I will keep you posted.

All the best,
Francesco

[2017-06-20 00:25] johnsalmon commented on #109
Thanks.  I have not used openmm or conda before so it's possible that I've installed mbpol or openmm incorrectly.  You should be able to ignore the #! at the top of my script and run it with python3.  I see that I left in a couple of unnecessary imports:  just comment out  'import transformations' and 'import refwater'.   If you don't get the same results as me, then it's very likely an installati

[2017-06-21 23:57] zonca commented on #109
thanks @johnsalmon for the bug report with example code. I was able to reproduce the issue.

This is due to this change we implemented in: https://github.com/paesanilab/mbpol_openmm_plugin/commit/37aacdabb911bfcc0571195c817326a25fb6757e

to avoid the issue explained in #20.

We have to find a better way to handle this case.

[2017-10-09 18:56] zonca opened #110 "Performance issues on Reference Platform 3-body on 256 water molecules"
one step takes 30 seconds

dataset of 256 molecules in `pdb/TIP5P_PIMC_0C_LIQ.0.pdb`
number of triplets is: 242752

[2017-10-09 18:58] zonca commented on #110
@chemphys can you easily extract what should be the number of triplets in this dataset from another code? see above

[2017-10-09 19:22] chemphys commented on #110
Which is the cutoff you use for the triplets? The value in the polynomials, 4.5 Angstrom?

[2017-10-09 19:30] zonca commented on #110
Yes

Il lun 9 ott 2017, 21:22 Marc Riera Riambau <notifications@github.com> ha
scritto:

[2017-10-09 20:06] chemphys commented on #110
Can you point me to where the pdb is?

[2017-10-10 06:15] zonca commented on #110
https://github.com/paesanilab/mbpol_openmm_qmc_comparison/blob/master/openmm_mbpol/pdb/TIP5P_PIMC_0C_LIQ.0.pdb

[2017-10-10 07:27] zonca commented on #110
it is a periodic box of size: 19.3996888399961804 A

I counted triplets with `mdtraj` and I get: 1967

[2017-10-10 15:05] chemphys commented on #110
Is there any way that you can deactivate PBC? Because my code does not have the PBC implemented. Maybe you can increase the box size 20 Angstrom in all the directions. Then we will have a 1 to 1 comparison.

[2017-10-10 15:15] zonca commented on #110
It's fine, useful even if you don't have PBC

[2017-10-10 15:38] fpaesani commented on #110
I think that OpenMM can also do calculations without PBC. @zonca, is what we called "cluster calculations". I am pretty sure we did those comparisons with Greg when we were implementing MB-pol in OpenMM.

[2017-10-10 15:43] zonca commented on #110
@fpaesani yes, it can, we will compare all 3 software tools  (openmm, mdtraj, @chemphys' code) with and without PBC

[2017-10-10 16:14] chemphys commented on #110
Without pbc i get 3865 trimers. Can you put the 3b energy you get?

[2017-10-10 16:23] zonca commented on #110
I found a bug with the cutoff, the global nonbondedCutoff was applied also to 3body, this creates a huge neighborlist (Energy is still correct because another cutoff is inside the evaluation code):

With correct cutoff, OpenMM: 1473 Cluster, 2344 PME
`mdtraj`: 1473 Cluster, 1967 PME

Cluster energy just 3body: 44.72 kcal/mol

[2017-10-10 16:54] chemphys commented on #110
Can we do the test with something relatively smaller? I don't get the same numbers (3865 trimers and 45.4899kcal/mol energy 3b only). I cannot go through something that big. Can you confirm that the cutoff is 4.5 angstrom? Also, how are you screening the trimers? A trimer energy is 0 if 2 of the 3 O-O distances are more than 4.5 ( @fpaesani , that's how it works right?)

[2017-10-10 16:59] zonca commented on #110
yes, I confirmed above, it is 4.5A.

In the plugin the screening is different. a triplet needs to have all 3 distances below 4.5A.

[2017-10-10 17:15] chemphys commented on #110
But then that is not correct. @fpaesani , correct me if I am wrong, but as far as I understand, and for how the switch works, if two of the distances is not 0, there should be a 3b energy. Lets say we have a water centerd with O at (0, 0, 0). A second water is at (0, 0, 2.5) and a third water is at (0,0,5). Water 1 and water 3 are farther than 4.5, but the polynomials won't return 0.
Am I correct?

[2017-10-10 17:24] fpaesani commented on #110
@chemphys is correct. The 3B still exists if only one distance is below 4.5A. Please see the definition of 3B switching function in the original paper.

[2017-10-10 17:25] chemphys commented on #110
@zonca can you recalculate 3B and number of trimers changing the criteria?

[2017-10-10 17:26] zonca commented on #110
is there a limit on the other distances? or we loop through all the other possible molecules in the box?

[2017-10-10 18:01] zonca commented on #110
performance issue on 3b is fixed, 1 step is now 0.352513 instead of 30 seconds. Fix implemented in #111.

Now investigating Electrostatics. I'll open another issue about 3B screening.

[2017-10-10 18:02] chemphys commented on #110
What I do in my algorithm is the following:
[code]

[2017-10-10 18:04] zonca opened #112 "Fix 3-body neighbor list implementation"
Fix 3-body neighborlist implementation, it now requires all 3 distances to be below 4.5A, instead just 2 of them are necessary, the 3rd could be higher (worst case it could be 9A if 3 molecules are aligned.

@chemphys @fpaesani please provide feedback if any of the above is not correct

see previous discussion in #110

[2017-10-10 18:43] chemphys commented on #110
@zonca , when you say "now requires all 3 distances to be below 4.5A, instead just 2 of them are necessary, the 3rd could be higher", you mean that now is in the way that doesn't force all 3 distances to be less than 4.5?

[2017-10-10 18:43] chemphys commented on #110
And can you recalculate trimers and 3b energy?

[2017-10-10 18:50] zonca commented on #110
no, work on electrostatics is higher priority, I'll do that later, see #112

[2017-10-10 19:18] chemphys commented on #110
ok

[2017-10-11 16:40] zonca commented on #112
`mdtraj` result with this new algorithm on https://github.com/paesanilab/mbpol_openmm_qmc_comparison/blob/master/openmm_mbpol/pdb/TIP5P_PIMC_0C_LIQ.0.pdb

* PBC: 5533
* Cluster: 3865

The number for cluster is the same @chemphys gets https://github.com/paesanilab/mbpol_openmm_plugin/issues/110#issuecomment-335526573

[2017-10-18 19:14] zonca commented on #110
@chemphys how are you removing duplicates after you run this?

[2017-10-18 19:30] chemphys commented on #110
[Here](https://github.com/paesanilab/clusters_ultimate/blob/master/src/bblock/system.cpp#L107) I perform that. I just assure that index i > j > k for a triplet <i,j,k>

[2017-10-18 21:15] zonca commented on #112
this should be fixed soon in #111, followup there

[2017-10-18 21:16] zonca commented on #110
performance is now acceptable, l'll focus on Electrostatics now and check everything together after that.

[2017-10-18 21:16] #110 closed

[2017-10-18 21:18] zonca opened #113 "Performance issues in Electrostatics"
on 256 water molecules, everything in Reference platform

* AMOEBA takes 4 seconds with no Cutoff, 2 seconds with PME.
* OpenMM-MBPol takes about 30s just Electrostatics for 1 step

[2017-10-18 21:24] zonca commented on #113
Identified the bottleneck, it is the `getAndScaleInverseRs` function, see https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/platforms/reference/src/MBPolReferenceElectrostaticsForce.cpp#L255

This function is not present in AMOEBA, in MBPol it adjusts the scaling factors based on the type of interaction.
Replacing this with a dummy function, 1 step takes 1.5s.

@fpaesani @agoetz @chemp

[2017-10-18 22:31] chemphys commented on #113
I am looking at this. I will let you know if I have something faster...

[2017-10-19 01:29] darcykimball commented on #113
Out of curiosity, which paper (if any) specifies the scaling behavior? Also, as a ghetto hack: if `getAndScaleInverseRs` is a pure function, would memoizing speed it up by much? I imagine it's less work than refactoring this stuff all out, but of course it'll have to build and store N^2 entries at runtime. Further: is the slowdown due to branching or number crunching?

[2017-10-25 16:56] zonca commented on #113
Calls:

In `calculateElectrostaticPairIxn`  for cluster and `calculatePmeDirectElectrostaticPairIxn` for PME, all with same `r`:

[code]

in `calculateInducedDipolePairIxns`:

[code]

I'll start from the second one, it is in the inner loop of dipole estimation and doesn't change for each pair of particles.

There there are also 4 calls in the charge redistribution.

[2017-10-27 00:02] chemphys commented on #113
Hey @zonca ,

I implemented electrostatics in my new software. Without calculating gradients, it takes 1.7 seconds for 256 water molecules. With gradients it will be at most twice that amount.

[2017-10-27 00:10] zonca commented on #113
Good, can you please point me to the code?

Il ven 27 ott 2017, 02:02 Marc Riera Riambau <notifications@github.com> ha
scritto:

[2017-10-27 00:16] chemphys commented on #113
You can find it [here](https://github.com/chemphys/clusters_ultimate/blob/mrr/add_electrostatics/src/potential/electrostatics/electrostatics.cpp)
I will work on the gradient implementation now, and probably work with daniel to make it even faster. It was compiled with icpc using optimizations.
See you!

Marc

[2017-10-31 00:45] chemphys commented on #113
So, I updated the function. With gradients, it takes 2.28 seconds.
I will fix a couple performance issues, and it will probably be even faster.

[2017-11-03 12:44] zonca commented on #113
implemented precomputation of all the scale factors in the induced dipole loop, precomputation takes 0.37s, loop time decreased from 18.81s to 1.1s.

Now total is 8s. I'll check the other calls to the function.

[2017-11-03 13:17] zonca commented on #113
Precomputed a call to `ttm::gammln` and created specialized function to compute at the same time order 1 and 3 used in the contribution from other atoms in same water, now 6.3s.

[2017-11-03 15:56] zonca commented on #113
For now 6.3s is good enough compared to 4s of AMOEBA.
Now some tests are segfaulting, I'll debug that and then merge the code.

[2017-11-03 16:14] chemphys commented on #113
@zonca , the time is for the entire calculation or just electrostatics?

[2017-11-03 16:16] zonca commented on #113
Electrostatics

Il ven 3 nov 2017, 17:14 Marc Riera Riambau <notifications@github.com> ha
scritto:

[2017-11-03 16:17] zonca commented on #113
Electrostatics

Il ven 3 nov 2017, 17:16 Andrea Zonca <zonca@sdsc.edu> ha scritto:

[2017-11-03 16:34] chemphys commented on #113
Are you using optimizations when compiling the code?

[2017-11-09 00:00] zonca commented on #113
finalized this.

Next I'll merge the 3b fix and then I'll create a pull request for this with 1 single commit.

[2017-11-22 18:31] zonca commented on #113
I posted the benchmarks on the wiki at: https://github.com/paesanilab/mbpol_openmm_plugin/wiki/Benchmarks-MBpol

in #114 I also added the updated benchmark script and the 2 input PDB files

[2017-11-22 19:52] zonca commented on #112
@agoetz @fpaesani this modification of the 3body list changed a little bit the energy because I was missing some triplets before.

Should I rerun the comparison with QMC I did a while ago? Results are at: https://github.com/paesanilab/mbpol_openmm_qmc_comparison

It is probably going to take one full day of work (a week for me).

[2017-11-22 23:15] agoetz commented on #112
@fpaesani Are we using this comparison for anything? It seems like a very inefficient way for testing correctness of an implementation.

@zonca Comparing energy (and gradients) for a single or at most a few snapshots should be sufficient.

[2017-11-22 23:20] fpaesani commented on #112
@agoetz @zonca I don't think we are using it for any actual comparison. I believe that it was used by Greg and Andrea initially when they worked on the first implementation of MB-pol in OpenMM.

[2017-11-29 20:50] zonca commented on #113
ok, performance is good enough for now, next step will be to implement the CPU platform with threading support.

[2017-11-29 20:50] #113 closed

[2017-11-29 20:50] zonca commented on #112
ok

[2017-11-29 20:50] #112 closed

[2017-11-29 21:18] zonca commented on #104
unfortunately there is no GPU support yet, see https://github.com/conda-forge/conda-forge.github.io/issues/63, in fact even OpenMM is not on conda-forge. We will revisit in a few months

[2017-11-29 21:18] #104 closed

[2018-01-24 19:44] zonca commented on #103
available also 3.6, see:

https://anaconda.org/paesanilab/mbpol/files

[2018-01-24 19:44] #103 closed

[2018-01-24 19:47] #90 closed

[2018-02-02 00:46] semodi opened #117 "nonbondedCutoff typo"
``` nonBondedCutoff ``` should be ``` nonbondedCutoff ```:

https://github.com/paesanilab/mbpol_openmm_plugin/blob/1259308c25ae6b2979d4b7f518c3aa71523e0a82/python/water14.py#L36

and the same in
https://github.com/paesanilab/mbpol_openmm_plugin/blob/1259308c25ae6b2979d4b7f518c3aa71523e0a82/python/water14.ipynb

What is weird is that OpenMM does not throw an exception but rather simply ignores it.

[2018-02-02 14:56] zonca commented on #117
thanks for the fix!

[2018-02-02 14:56] #117 closed

[2018-02-08 10:21] zonca opened #119 "Performance: Updated benchmarks and CPU Platform"
## Updated benchmarks

I noticed some inconsistencies in the benchmarks, so I reran all of them more accurately. I believe by mistake I was running AMOEBA with OpenMM compiled in Debug mode, so it was 10x slower than expected in some cases. So the performance numbers for AMOEBA changed, mbpol remained the same.

Here are all the new benchmarks (click on "Revisions" to compare with older):

https:/

[2018-02-21 23:13] zonca commented on #119
completed the implementation of PME electrostatics, performance improvement is minimal because most of the time is spent in the dipole convergence loop instead of the electrostatics loop for PME. https://gist.github.com/zonca/e41cd831afcc28f99638f7acef8f7d15

Next I'll work on the second step outlined above

[2018-02-22 23:39] gmedders commented on #119
Hey @zonca, it's been a long time! Apparently my notifications were going to my defunct ucsd email. I just changed my notifications, so sorry if I missed any tags.

Just in case you're not already aware, I just wanted to point out that in the DLPOLY implementation, we typically used the time-reversible always stable predictor corrector method ([ASPC](http://onlinelibrary.wiley.com/doi/10.1002/jcc.

[2018-03-08 10:26] zonca commented on #119
thanks @gmedders !

Currently I am using the iterative loop, which is now named `convergeInduceDipolesBySOR` in the AMOEBA plugin: https://github.com/pandegroup/openmm/blob/7.1_branch/plugins/amoeba/platforms/reference/src/SimTKReference/AmoebaReferenceMultipoleForce.cpp#L933

This algorithm is not used anymore in the AMOEBA plugin, instead, depending on polarization type, they use:

* if polariza

[2018-03-15 13:20] fpaesani commented on #119
Yes! Anything that can speed up the code and scale it to large number of processors is key. I would suggest to start with DIIS.

[2018-03-15 17:48] agoetz commented on #119
I second Francesco's opinion. I would go with DIIS since replicating code within OpenMM is probably less work.
Is it also available for the GPU platform?
DIIS requires matrix multiplications. Do you know the rank and how it scales with particle numbers? Matrix multiplications are efficient on GPUs but it might make the algorithm expensive for large systems.

[2018-03-15 19:10] zonca commented on #119
@agoetz yes, it is available for GPU as well https://github.com/pandegroup/openmm/blob/master/plugins/amoeba/platforms/cuda/src/kernels/multipoleInducedField.cu#L605

I don't know any details about scaling.

[2018-03-21 19:34] chemphys opened #120 "Timings needed"
Hey @zonca
In order to decide what to use and from where, it would be great if we can have the following timings.
For a SINGLE POINT CALCULATION:
- 1b energy calculation
- 2b energy calculations (polynomials + dispersion, all together or sepaarate, does not matter)
- 3b energy calculation
- Permanent electrostatics
- Induce electrostatics

For 100 steps of an md simulation:
Average time for each o

[2018-03-21 20:12] agoetz commented on #120
It would be useful to keep timers in the code so that in the future we can easily check performance of individual contributions with different hard-/software stacks. Useful for code maintenance and presentations/publications.

[2018-03-22 13:53] zonca commented on #119
let's pause further development on this until we have taken a decision if using Marc's code is better

[2018-03-22 13:53] #119 closed

[2018-03-22 14:10] zonca commented on #120
I could not find a way to add a timer that aggregates across all the iterations of a simulation. However I think there is a workaround:

* in the integrator, set a tiny timestep, I tested for example 1e-6 femtoseconds, but we can do less if necessary, so that for 100 timesteps the molecules do not move much.
* create different versions of `mbpol.xml`, each has only 1 component, see https://github.

[2018-03-22 17:46] zonca commented on #120
It is the same scripts you ran before on Ockam. Just change the XML.

Do you want me to prepare the 4 XMLs?

[2018-03-22 18:13] zonca commented on #120
https://gist.github.com/zonca/1243e0b6548dade2f7c4b63a6ca1175e

[2018-05-03 11:44] hrg1000 opened #121 "Problem running example"
Dear All,
I installed mbpol using the instructions in INSTALL.md file. Now I am trying to run the example. I tried 2 ways:
1) Using the mbpol builder. The mbpol_builder mbpol_config.ini generated_script_filename.py stage worked fine. When I ran the generated .py file I got a segmentation fault,
2) I used the water14_cluster.pdb file and the water14.py script, again I got a segmentation fault. I di

[2018-05-03 12:11] zonca commented on #121
have you installed with `conda`?

[2018-05-06 10:16] hrg1000 commented on #121
I installed with conda and the version of openmm is openmm-7.2.1

[2018-05-06 10:52] zonca commented on #121
Which version of Python? I will try to reproduce the issue

[2018-05-06 10:55] #120 closed

[2018-05-06 11:07] hrg1000 commented on #121
When I am in the environment I created and I link at the beginning by typing "source activate openmm_env" then it is Python 3.6.5 :: Anaconda, Inc. . I think that when I installed mbpol by typing "conda install mbpol" this version of python was installed. When I am not in this python environment then it is Python 2.7.6.

[2018-05-06 11:08] hrg1000 commented on #121
Note I installed openmm before I tried to install mbpol

[2018-05-08 10:17] hrg1000 commented on #121
Please note when I tried to install mbpol on another of our computers, without installing openmm first, using "conda install mbpol", I get this error message when trying to run "python water14.py":
   from simtk.openmm import app
ModuleNotFoundError: No module named 'simtk'
I see some openmm files have been installed in the directory /opt/conda/miniconda2/envs/openmm_env/include/openmm
Could it be

[2018-05-09 13:45] zonca commented on #121
no, `miniconda` is fine, in the second case you also need to install openmm, it doesn't matter if you install OpenMM before or after mbpol.

I reproduced the segfault on my machine.
I haven't yet identified the cause yet, I'll report back once it is fixed, this sort of debugging is tricky so it will take some time.

The other option is to build from source:
https://github.com/paesanilab/mbpol_open

[2018-05-09 20:57] zonca commented on #121
@hrg1000 actually I think I fixed this, I just uploaded another conda package for `mbpol`, version 1.1.2, currently only for Python 3.6,
can you please try running `conda update mbpol` and check if the segfault is gone?

[2018-05-13 10:01] hrg1000 commented on #121
It worked!!! Thank you so much for your help,
Helen

[2018-05-13 11:36] zonca commented on #121
Thanks for reporting, I'll build all the other versions and then close the issue

[2018-05-13 14:01] snpreddy opened #122 "Error reading a PDB file"
Dear All,

I have observed in the pdb files (water14_cluster.pdb, water256_bulk.pdb), atoms labeled as M, what it represents and how assigned the values of M in case of water14_cluster.pdb. At the end of water14_cluster.pdb, ENDMDL is observed and missing in the water256_bulk.pdb. What is the specific format of a pdb file?

I have checked the simulations with the examples of water14 and water256_b

[2018-05-13 15:03] zonca commented on #122
PDB is a standard format, please look for documentation online.

M is a virtual site computed as a weighted mean of the H and O positions.

Please upload the pdb that fails to gist.github.com and link it here.

[2018-05-13 15:28] snpreddy commented on #122
Link for pdb file.

https://gist.githubusercontent.com/snpreddy/7b91a9cdadff236fa76ee8a290a8a4e2/raw/527e9d02e3226e8a9681b874a90100fb328bac9b/w3.pdb

By the way, how can I assign the weighted mean values? Can I keep them as 0.00 like bulk water example?

[2018-05-13 15:44] zonca commented on #121
ok, I built also Python 3.5 and 2.7, OpenMM 7.2.1 dropped 3.4 support in conda packages, so we'll do the same

[2018-05-13 15:44] #121 closed

[2018-05-13 15:47] zonca commented on #122
you cannot have all those decimals in a PDB, it is fixed length, use this one as an example and replace the numbers:

https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/water3.pdb

yes, you can set them to zero, they are automatically computed by OpenMM anyway.

[2018-05-14 08:43] snpreddy commented on #122
Thank you, it is working fine with fixed lengths.
How can I restart a terminated MD job?

Thanks
Naga

[2018-05-14 09:35] zonca commented on #122
about restarting I don't think it is supported, look at the OpenMM documentation for more information: http://docs.openmm.org/latest/userguide/index.html

[2018-05-14 09:35] #122 closed

[2018-05-16 11:04] snpreddy opened #124 "NVT followed by NVE"
Dear All,

I have seen the *.ini files, and I didn't find any one which NVT followed by NVE. Could you please some one help me, where can I find?

Thanks in advance
Naga

[2018-05-17 14:54] zonca commented on #124
`mbpol_builder` (that reads the .ini) is just a quick way to get started, more complicated simulations need to be written in Python,
see here an example of running NVT and then NVE: https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/example_nvt_nve.py

[2018-05-17 14:54] #124 closed

[2018-05-20 20:37] snpreddy commented on #124
Hi,
Sorry for bothering you, I have found that one and tried to do some modifications. I want to save the position file and modified the code. It's writing log files, and trajectory file, in nve log file the number of lines are twice of production steps. If I remove the lines from code (from try: ...to end) the log files having correct number of lines. In both cases with and with out writing traje

[2018-05-21 08:20] zonca commented on #124
I think there is a mistake in the script, you are calling the production simulation twice, at line 69 and 83.

* https://gist.github.com/snpreddy/7e57a0424673116043e1e1acd196c079#file-with_traj-py-L69
* https://gist.github.com/snpreddy/7e57a0424673116043e1e1acd196c079#file-with_traj-py-L83

[2018-05-21 09:30] snpreddy commented on #124
Thank you very much.

I have corrected it, and the log files are not same with and with out writing the trajectory file.
you can check it for the example python file https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/example_nvt_nve.py

It writes only log files and no trajectory files. If we add a line to write production trajectory, the log files should be same, but log files ar

[2018-05-24 07:43] snpreddy opened #125 "Problem with NVE in water pentamer"
Hi,
I am trying some test jobs of water clusters. Already intimated the problem of evaporating water molecules (breaking hydrogen bonds at low T (around 200K)). A strange problem observed in case of water pentamer. I am trying NVT followed by NVE at 50K, through out the NVT trajectory, pentamer is cyclic and average T also around 50K. Ones it goes NVE the T is increasing and reaching around 200K,

[2018-05-24 12:01] zonca commented on #125
Your water molecules do not have virtual sites (M)

On Thu, May 24, 2018 at 9:44 AM snpreddy <notifications@github.com> wrote:

[2018-05-24 12:05] snpreddy commented on #125
Virtual sites was there, just I removed those lines for visual compatibility.

[2018-05-24 12:12] zonca commented on #125
I don't see anything wrong in the software, @agoetz could you please take a look?

[2018-05-24 12:15] snpreddy commented on #125
Here I am copying the last NVT step trajectory data, while analyzing the results, I removed M sites from the NVE trajectory file, so the problem is not related with M. Please let me know

Thanks
Naga

MODEL     500000
HETATM    1  O   HOH A   1      -1.776   1.533  -0.523  1.00  0.00           O
HETATM    2  H1  HOH A   1      -2.691   1.743  -0.373  1.00  0.00           H
HETATM    3  H2  HOH A

[2018-05-28 15:10] snpreddy opened #126 "Thermostat"
Hi,

I am running simulations with Andersen Thermostat, I want to use Nose-Hoover Thermostat in the NVT study, and didn't find it. I will be grateful if some one provide details.

Thanks
Naga

[2018-05-28 15:27] chemphys commented on #126
For this you should look at the OpenMM user manual. This repository is simply the implementation of MB-pol in OpenMM. Any simulations details/problems should be addressed in the OpenMM forum.

There is an [issue](https://github.com/pandegroup/openmm/issues/1306) in OpenMM issues  that might answer your question. Seems that at least, two years ago, this was not implemented, but there is a similar v

[2018-05-28 16:39] snpreddy commented on #126
Thanks for your reply. I have crossed the post and the openmm manual too. I didn't find the implementation. That's why I posted to get some help from developers.

Thanks

[2018-05-28 16:45] zonca commented on #126
you can take a look at `openmmtools` http://openmmtools.readthedocs.io/en/latest/integrators.html

or ask on the OpenMM forum: https://simtk.org/plugins/phpBB/indexPhpbb.php?f=161

[2018-05-28 16:45] #126 closed

[2018-05-31 14:35] snpreddy opened #127 "Problem in writing Velocities file"
Hi,
I have couple of problems
1) Velocities are not writing in the NETCDF binary file, even having ParmEd Python package. Could you please let me know whether we need to link it some where?

2) Same python code giving different results in different run:
A test job, NVT followed by NVE gave log files and PDB file. When I run the same job again, the log files and PDB files are not same as older run

[2018-05-31 18:47] zonca commented on #127
Hi,
This issues has nothing to do with MBPol, please look for OpenMM support.

[2018-05-31 18:47] #127 closed

[2018-06-07 08:27] snpreddy opened #128 "Energy not conserved in NVE"
Hi,
I made another trial NVT followed by NVE with tetramer, in NVT, I ran 0.5 ns, Energy and temperature are conserved. In NVE, energy is not conserved. I am using 0.2 fs time step and running 0.5 ns from the end of NVT state.

1) I would like to know whether 0.2 fs time step is reasonable? In general, which time step is good for small water clusters? or any thing missing in my python code?

2) Ma

[2018-06-07 16:31] chemphys commented on #128
As a side note, did you realize that you are using:
[code]
Can you try to follow the [example for a 14 water cluster](https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/water14.py) and see if that fixes the problem?

Regarding your questions, all of them are answered [here](https://pubs.acs.org/doi/abs/10.1021/ct400696d), [here](https://pubs.acs.org/doi/abs/10.1021/ct400863t), [h

[2018-06-07 20:35] chemphys commented on #128
Because that is a single point calculation. As stated in the papers, to run a full MD simulation, the time step should be 0.2 fs. And also, please use a larger cutoff than 9 angstrom for the non bonded interactions. In the example, it is set to 1E+03, but if you use a box, set it to half of the box maximum.
Hopefully this fixes the problems you have!

[2018-06-07 20:35] #128 closed

[2018-06-07 20:35] #125 closed

[2018-06-09 21:50] snpreddy commented on #128
Dear @chemphys, I have tried the cutoff 1e3, and still the energy is not conserved, I don't know what's going wrong. I will be happy, if some one suggest any hint.

Thanks
Naga

[2018-06-09 22:00] chemphys commented on #128
For a cluster simulation, and for a system as small as this one, the kinetic fluctuations might be too large.
1. Try a larger system
2. Try a lower T (10K)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: snpreddy <notifications@github.com>
Sent: Saturday, June 9, 2018 2:50:57 PM
To: paesanilab/mbpol_openmm_plugin
Cc: Marc Riera-riambau; Mention
Subject: Re:

[2018-07-06 19:48] vgl2 opened #129 "MB-pol potential to interact with Fortran"
To whom this may concern,

I am trying to use your Mb-pol potential to use with Diffusion Monte Carlo. From your README file and with the added implementation with OpenMM, it seems that it may be somewhat challenging to implement with DMC. All I want to do with your code is to calculate the potential energy of the water cluster given a particular geometry. I have played around with the current cod

[2018-07-06 20:43] fpaesani commented on #129
Please, send an email to fpaesani@ucsd.edu. We have an updated version of our MB-pol code that is specifically designed to be used in combination with external codes for molecular simulations.

[2018-09-06 09:16] snpreddy opened #130 "optimization failed"
I am trying to optimize small water clusters, and it is successfully applied for dimer and trimer. I tired to give a small different structures and the obtained final optimized structure, and the total energy is same in all. In case of tetramer, The final energies are not same and the optimized structures are not similar. I would like to know, why it is not applicable for tetramer?

I generated th

[2018-09-06 12:55] fpaesani commented on #130
It is possible that you are accessing different local minima. As the number of water molecules increases, the number of possible stable, low-lying structures increases. Please check the literature to see if the tetramers you are finding are indeed some of these local minima. For example, this paper: https://doi.org/10.1063/1.4967719 reports the 3 lowest energies isomers.

[2018-11-07 11:11] snpreddy opened #131 "Problem with NVE in pentamer"
Hi,
I am trying some test jobs of water clusters. Already intimated the problem of evaporating water molecules (breaking hydrogen bonds at low T (around 200K)). A strange problem observed in case of water pentamer. I am trying NVT followed by NVE at 50K, through out the NVT trajectory, pentamer is cyclic and average T also around 50K. Ones it goes NVE the T is increasing and reaching around 200K,

[2019-12-12 02:31] maxentile opened #132 "Local energy minimization"
Hello!

I'm getting started with using MB-pol on the 14-water cluster in this example https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/water14.py and I noticed some surprising behavior.

If I call the `LocalEnergyMinimizer`, then the potential energy decreases to approximately -1e+11 kcal/mol, and velocity verlet is unstable from this local minimum even with a step size of 1e-5

[2019-12-12 03:58] fpaesani commented on #132
Hi Josh,

Thank you for your interest in MB-pol. There shouldn't be any specific precautions to take but it is also true that our implementation of MB-pol in OpenMM is obsolete and we don't have any control on OpenMM.

We have developed an independent C++ library (MBX) that, in principle, can be interfaced to any MD or MC driver. You can find the initial version here: http://paesanigroup.ucsd.edu/

[2019-12-12 11:42] maxentile commented on #132
Thank you Francesco for these helpful pointers and comments! I will keep an eye out for next update of MBX.

Many thanks,
Josh

[2019-12-12 11:42] #132 closed

[2020-02-04 08:51] SamikBose opened #133 "Problems while running a water cluster simulation using the example files"
We are trying to follow the guidelines of README.md in the top directory to set up a simulation and running into troubles.
At this point, we are  working with the water14_cluster.pdb (example file, provided in the python sub-directory) just to have an idea about the inputs and outputs. The default mbpol_config.ini file is used as the input. The  "mbpol_builder mbpol_config.ini generated_script_fil

[2020-02-05 02:14] chemphys commented on #133
Hello!

Do you need to use OpenMM, or any MD software would be fine?
We have a more efficient version of MB-pol interfaced with i-pi.
If you are interested in that one, you can find it here: http://paesanigroup.ucsd.edu/software/mbx.html

If you need to use OpenMM, then we can try to contact the main developer and see if he can help.

All the best,
Marc

.   .   .   .   .   .   .   .   .   .   .

[2020-02-05 07:33] SamikBose commented on #133
Hi Marc,

Any MD software will do the work for me. I will go through the MB-pol interfaced with i-pi. Thanks for the guidance.